<div class="container">
  <h1 class="text-center title-text">Course And Students Maintenance</h1>
  <div fxLayout="row wrap" fxLayoutAlign="space-around" class="mt-5">
    <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="center center">
      <app-course></app-course>
    </div>
    <div fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="column" fxLayoutAlign="center center" ngClass.xs="mt-4" ngClass.sm="mt-4">
      <app-students></app-students>
    </div>
  </div>
</div>